<div class="purpose_cont">
    <input type="radio" name="secret_radio" id="secret_radio_${purpose}">
    <label for="secret_radio_${purpose}" class="purpose-text">
        ${purpose}
    </label>
    <details class="hidden-text hide-arrow text-center">
        <summary class="point-cursor"></summary>
        <input type="text" name="secret" class="round-corners stylish-border secret-font" size="1" value="${secret}"></input>
        <input type="text" pattern="[0-9]{2}" name="cut" class="round-corners stylish-border secret-font" size="1" value="${cut}"></input>
        <span class="noselect" name="close">&#x1F5D9;</span>
    </details>
</div>