body {
  background-color: #444;
}

input:focus {outline:none!important;}

.hidden-text {
  color: #777;
}

.image-container {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.round-corners {
  border-radius: 0px;
  padding: 5px;
}

.stylish-border {
  border: none;
  border-width: 0;
}